{% extends 'base.html.twig' %}

{% block title %}Connexion Vétérinaire 🩺{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Connexion Vétérinaire 🩺</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form method="post" action="{{ path('app_login_veto') }}">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" required autofocus>
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Mot de passe</label>
            <input type="password" name="_password" id="inputPassword" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-primary w-100" type="submit">
            Connexion 🩺
        </button>
    </form>
</div>
{% endblock %}
